---
import Layout from "../layouts/Layout.astro";

---
<Layout title="About" page="about">

    <h1>Acerca de</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti ullam
      error, iusto blanditiis quibusdam distinctio quae expedita possimus, iure
      corporis tempora, culpa dignissimos laboriosam ducimus? Esse fugiat explicabo
      natus itaque.
    </p>
</Layout>
