---
import HomePage from "../components/Home/Home";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro." page="home">
  <main>
    <HomePage client:load />
  </main>
</Layout>

<style></style>
